<!DOCTYPE html>
<html>

<head>
  <title>Eats</title>  
</head>

<body class="">
<header>
  <% include template/header %>
</header>
<div class="section-container">
  <div class="container">
    <!-- 위치 찾기 -->
    <div class="row mb-2">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h1 class="h2">1. 현재 위치</h1>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-12">
            <button type="button" id="postCodeBtn" class="btn btn-primary btn-lg">위치 찾기</button>
          </div>
          <div class="col-md-12">
            <span id="postCodeData">현재 위치 정보</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 위치 찾기 종료 -->
    <!-- 음식 종류 선택 -->
    <div class="row mb-2">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h1 class="h2">2. 음식 종류</h1>
          <p>검색어를 정확하게 입력하지 않을시 데이터가 정확하지 않을 수 있습니다!<br/>ex) 한식, 중식, 일식, 양식, 중식, 파스타, 맛집 등</p>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <div class="row">
          <input type="text">
        </div>
        <div class="row mt-1">
          <button type="button" class="btn btn-primary btn-lg">음식점 찾기</button>
        </div>
      </div>
    </div>
    <!-- 음식 종류 선택 종료 -->
    <!-- 결과 맵 -->
    <div class="row mb-2">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h1 class="h2">3. 결과</h1>
          <p></p>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <div id="map" style="width:500px;height:400px;"></div>
      </div>
    </div>
    <!-- 결과 맵 종료 -->
  </div>
</div>
<footer>
  <% include template/footer %>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/eats.js"></script>
<script id="kakaoMapScript"></script>
</html>