<!DOCTYPE html>
<html>
<head>
  <title>Eats</title>
</head>
<header>
  <% include template/header %>
</header>
<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Eats 입니다.</h1>
      <p>메뉴 더이상 고민하지마세요. <span class="typed" data-typed-items="메뉴 뽑기, 위치 기준 랜덤 뽑기, 최대 20개 결과"></span></p>
      <div class="social-links">
        <button type="button" class="btn btn-primary" onclick="location.href='/eats'">메뉴 뽑으러가기</button>
      </div>
    </div>
  </section>

</body>
<footer>
  <% include template/footer %>
</footer>
</html>