<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
  <!-- font -->

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/stylesheets/common.css" rel="stylesheet">
</head>
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<div id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a href="/" class="nav-link"><i class="bx bx-home"></i> <span>Home</span></a></li>
      <li><a href="/eats" class="nav-link"><i class="bx bx-server"></i> <span>메뉴뽑기</span></a></li>
      <li><a href="/jisung" target="_blank" class="nav-link"><i class="bx bx-file-blank"></i> <span>게임</span></a></li>
      <li><a href="/chat" class="nav-link"><i class="bx bx-book-content"></i> <span>채팅</span></a></li>
    </ul>
  </nav>
</div>
</html>